
@{
    ViewBag.Title = "themsanpham1";
}

<h2>themsanpham1</h2>

@*<form action="@Url.Action("resultthemsanpham1","Home")" method="post">
    <a>
        ID: <input type="text" name="id" value="" /><br />
    </a>
    <a>
        Production Name: <input type="text" name="tensanpham" value="" /><br />
    </a>
    <a>
        Price: <input type="text" name="gia" value="100" /><br />
    </a>
    <a>
        NSX: <input type="text" name="nsx" value="USA" /><br />
    </a>
    <a>
        Origin: <input type="text" name="tenloai" value="Nike" /><br />
    </a>
    <input type="submit" value="Add" />
</form>*@

@*<div class="container-fuild">
    <form action="@Url.Action("resultthemsanpham1","Home")" method="post" style="width:500px;margin-left:35%;margin-top:5%;padding: 30px 40px;border-radius: 10px;background-color: #e3e3e3;">
        <h2 style="text-align:center;font-weight:bold;">Thêm Sản Phẩm</h2>
        <div class="form-row">
            <div class="form-group col-md-6" style="padding-left:0;">
                <label for="inputEmail4">ID</label>
                <input class="form-control" type="text" name="id" id="id" value="1" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Tên Sản Phẩm:</label>
                <input class="form-control" type="text" name="tensanpham" id="tensanpham" value="Nike Air Force 1" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Giá tiền:</label>
            <input class="form-control" type="text" name="gia" id="gia" value="2000000" />
        </div>
        <div class="form-group">
            <label for="inputAddress2">Nhà sản xuất:</label>
            <input class="form-control" type="text" name="nsx" id="nsx" value="Australia" />
        </div>
        <div class="form-group">
            <label for="inputAddress2">Hãng sản xuất:</label>
            <input class="form-control" type="text" name="tenloai" id="tenloai" value="Nike" />
        </div>

        <input class="btn btn-primary" type="submit" value="Thêm Sản Phẩm" />
    </form>
</div>*@
