
@{
    ViewBag.Title = "TimsanphamtheoID";
}

<h2>TimsanphamtheoID</h2>
 @*@ViewBag.sp.Tensanpham*@
<table class="table">
        <thead>
            <tr>
                <th>Tên Sản Phẩm</th>
                <th>Giá</th>
                <th>Nhà sản xuất</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                    <td data-label="">@ViewBag.sp.Tensanpham</td>
                    <td data-label="">@ViewBag.sp.Gia</td>
                    <td data-label="">@ViewBag.sp.Nsx</td>
                    <td>
                    </td>
        </tbody>
    </table>
