
@{
    ViewBag.Title = "Xoasanpham";
}

<h2>Xoasanpham</h2>
@*<form action="@Url.Action("ResultXoasanpham","Home")" method="post">
    <h2>
        Production Name: <input type="text" name="id" value="" /><br />
    </h2>
    <input type="submit" value="Remove" />
</form>*@



